{% comment %}
  Renders a megamenu for the header for the desktop

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<link href="{{ 'component-header-mega-menu.scss.css' | asset_url }}" rel="stylesheet">

{% if section.settings.menu %}
  <div class="mega-menu-wrapper">
    <nav>
      <ul class="header-mega-menu-l1" role="list">
        {% for link in section.settings.menu.links %}
          <li>
            {% if link.links != blank %}
              {% comment %} Menu with Child Links {% endcomment %}
              <details class="mega-menu-l1-item mega-menu-l1-details" id="mega-menu-l1-{{ forloop.index }}">
                <summary
                  class="
                    header-menu-details-item
                    {%- if link.child_active %}
                      active
                    {% endif %}
                  "
                  id="mega-menu-l1-title-{{ link.handle }}"
                >
                  <span>{{ link.title | escape }}</span>
                  <span class="caret-icon">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
                </summary>

                {% comment %} Render child menus {% endcomment %}
                {% comment %} Mega Menu L2 {% endcomment %}
                <ul
                  class="header-mega-menu-l2"
                  role="list"
                  id="mega-menu-l1-content-{{ forloop.index }}"
                >
                  {% for childLink in link.links %}
                    <li class="mega-menu-l2-item-list">
                      <a
                        href="{{ childLink.url }}"
                        class="
                          mega-menu-l2-item
                          {% if childLink.current %} active {% endif %}
                        "
                        id="mega-menu-l2-title-{{ link.handle }}-{{ childLink.handle }}"
                        {% if childLink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        <span>{{ childLink.title | escape }}</span>
                        {% if childLink.links != blank %}
                          <span class="caret-icon">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
                        {% endif %}
                      </a>

                      {% comment %} Mega Menu L3 {% endcomment %}
                      {% if childLink.links != blank %}
                        <div
                          class="header-mega-menu-l3-wrapper"
                        >
                          <div class="mega-menu-l3-proxy"></div>
                          <ul class="mega-menu-l3" role="menu">
                            {% for subChildLink in childLink.links %}
                              <li>
                                <a
                                  href="{{ subChildLink.url   }}"
                                  id="mega-menu-l3-title-{{ link.handle }}-{{ childLink.handle }}-{{ subChildLink.handle }}"
                                  class="
                                    mega-menu-l3-item
                                    {% if subChildLink.current %} active {% endif %}
                                  "
                                  {% if subChildLink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ subChildLink.title | escape }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </details>
            {% else %}
              {% comment %} Menu without Child Links {% endcomment %}
              <a
                href="{{link.url}}"
                id="mega-menu-l1-title-{{ link.handle }}"
                class="mega-menu-l1-item {% if link.current %} active {% endif %}"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                {{- link.title | escape -}}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}
