<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%  assign page_description_new = page_description |  default : 'This is eCommerce site, built using Shopify' %}
    <meta name="description" content="{{ page_description_new | escape }}">
    
    {% assign favicon_new = settings.favicon | image_url: width: 32, height: 32 %}
    {% if favicon_new != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% else %}
      <link rel="icon" type="image/png" href="{{ 'default-favicon.ico' | asset_url }}">
    {% endif %}

    {% render 'font-tags' %}
    {% render 'meta-tags' %}

    {% comment %} Plugin or other apps can inject its data here {% endcomment %}
    {{ content_for_header }}

    {% comment %} Add your scrips and css here {% endcomment %}
    {% comment %} User can see any script or CSS which is added here, so only include necessary script here and minify those script {% endcomment %}
    {% comment %} {{ 'theme.scss.css' | asset_url | stylesheet_tag }} {% endcomment %}
    <link href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet">
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="">
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" role="main">
      {{ content_for_layout }}
      <!-- Injects the template content -->
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
